@charset "utf-8";

@import url(./color.css);

@import url(./header-footer.css);

/**/
body {
  background-color: var(--app-gray);
}
/**/

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}

/* Header */
header {
  padding-top: 65px;

  ul {
    list-style: none;
  }

  li, a {
    text-decoration: none;
  }
}

.sticky-header {
  position: fixed;
  top: 0;
  z-index: 11;
  width: 100%;
  background-color: var(--app-blue);
  padding: 10px 0;
}

.sticky-header-content {
  display: flex;
  justify-content: space-between;
}

.sticky-nav {
  display: flex;
  align-items: center;
  gap: 15px;
}

.product-page-link:nth-of-type(1) {
  display: flex;
  align-items: center;
  gap: 5px;
}

.product-page-link h1 {
  color: #000;
}

.product-page-link img{
  width: 80px;
}

.sticky-nav p {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--app-white);
  cursor: pointer;
}

.add-cart-btn {
  background-color: var(--app-green);
  background-color: #31AF36;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  padding: 15px 25px;
  display: flex;
  gap: 10px;
  color: var(--app-white);
  font-weight: 700;
}

/* Header contents */
.header-content {
  background-color: var(--app-white);
  padding: 17px 0;
}

.header-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

}

.header-grid nav {
  justify-self: center;
}

.wallet {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 10px;
}

nav ul{
  display: flex;
  gap: 20px;
}

nav a {
  color: var(--app-blue);
  cursor: pointer;
  font-weight: 600;
  transition: 0.5s ease;
}

nav a:hover {
  color: #1877F2;
}

/* Footer */
footer {
  background-color: #1c272c;
  
  ul {
    list-style: none;
  }

  li, a {
    text-decoration: none;
    color: var(--app-gray);
  }
}

.footer-content {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 30px 0;

  h2 {
    margin-bottom: 20px;
    color: var(--app-white);
  }

  p, a {
    color: var(--app-gray);
    text-decoration: none;
  }
}

/* Website Description and links */
.foot-title-and-links {
  display: flex;
  gap: 15px;
  width: 50%;
}

.foot-title p:nth-child(2) {
  margin-bottom: 30px;
}

.foot-links-list a {
  text-decoration: underline;
}

.foot-links-list li:nth-child(n + 2) {
  margin-top: 8px;
}

.foot-title, .links {
  width: 50%;
}

/* Email Input, project, and newsllet*/
.news-and-form {
  width: 50%;
}

.newsletter-projects {
  display: flex;
  gap: 15px;
}

.newsletter {
  width: 50%;
}

.projects {
  width: 50%;
}

.input-and-btn {
  display: flex;
  margin-top: 30px;
}

.input-and-btn input {
  width: 75%;
  padding: 15px 20px;
  border: none;
  outline: none;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  background-color: var(--app-blue);
  color: var(--app-gray);
}

.subscribe-btn {
  color: var(--app-gray);
  width: 25%;
  border: none;
  background-color: var(--app-blue);
  border-left: 1px solid var(--app-gray);
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  font-weight: 400;
  font-size: 13px;
  cursor: pointer;
}

.project-info {
  display: flex;
  align-items: center;
  gap: 10px;
}

.project-info p {
  font-size: 14px;
}
.project-info p:nth-child(3) {
  color: var(--app-gray);
}

.project-img-circle {
  height: 80px;
  width: 80px;
  border-radius: 40px;
  padding: 5px;
  background-color: var(--app-orange);
}

.project-img {
  width: 100%;
  height: 100%;
  background-image: url(../media/img/reading-books.jpg);
  background-size: cover;
  border-radius: 40px;
}

.project-info:nth-of-type(1) {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--app-dark-gray);
} 

.project-info:nth-of-type(2) .project-img {
  background-image: url(../media/img/three-peep-reading.jpg);
}

/* footer links and copyright */
.footer-links {
  background-color: var(--app-blue);
  padding: 20px 0;
}

.footer-links h3 {
  color: var(--app-gray);
  font-size: 18px;
}

.footer-links-content {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;

  ul {
    display: flex;
    gap: 20px;
    justify-self: center;
  }

  a {
    color: var(--app-gray);
  }
}

.media-links {
  justify-self: end;
  display: flex;
  gap: 20px;
}

.media-icons {
  height: 42px;
  width: 42px;
  border-radius: 21px;
  color: var(--app-white);
  display: flex;
  justify-content: center;
  align-items: center;
}

.facebook-icon {
  background-color: #1877F2;
}

.linkedin-icon {
  background-color: #2164F4;
}

.x-link-icon {
  background-color: var(--app-dark-gray);
}

.pinterest-icon {
  background-color: #E60023;
}

/* Media Querys */
@media screen and (max-width: 900px) {
  
}