@charset "utf-8";
@import url('./color.css');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.container {
  width: min(100% - 30px, 1080px);
  margin-inline: auto;
}

.flex {
  display: flex;
}

.flex-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}

.center {
  justify-content: center;
}

.right {
  justify-content: right;
}

.left {
  justify-content: left;
}

main {
  background: linear-gradient(var(--app-lighter-gray), var(--app-gray));
  color: var(--app-dark-gray);
  height: auto;
}

.product {
  width: 100%;
  height: auto;
  background-color: var(--app-gray);
}

.product-image {
  padding: 20px;
  img {
    height: 400px;
    width: 300px;
  }
}

.product-title {
  padding: 20px;
  .sold {
    font-size: 0.8rem;
  }
}

.product-info {
  padding: 20px;
}