@charset "utf-8";

@import url('./assets/color.css');
@import url(./header-footer.css);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*--------------------------------------------*/
/*Poster banner                               */
/*--------------------------------------------*/

.poster-box {
  display: grid;
  place-items: center;
  width: 100%;
  height: 600px;
  text-align: center;
  position:relative;
  background-color: antiquewhite;
  background: url(../media/img/poster-banner1.jpg) center center / cover no-repeat;

  h1 {
    margin: 20px 0;
    font-size: 70px;
    color: #ff1100;
  }

  h2 {
    font-size: 40px;
  }

  p {
    font-size: 30px;
  }
}

.pick-one-now {
  position: absolute;
  inset: auto auto 50px;
  width:150px;
  height:50px;
  border-radius: 10px;
  background-color: #f75045;
  color:#fff;
  font-size: 16px;
  border: 1px solid #f75045;
  cursor: pointer;
}

.pick-one-now:hover {
  background-color:  #ff695e;
  transition: ease-in-out 0.25s;
}

/*--------------------------------------------*/
/*New book                                    */
/*--------------------------------------------*/

.new-product-box {
  width: 100%;
  height: 1000px;
  background-color: #fff;
  position:relative;
  z-index: -1;

  h2 {
    position:absolute;
    inset: 150px auto auto 100px;
    font-size: 50px;
  }
}

.new-product-intro {
  position:absolute;
  inset: auto auto 100px 0;
  width: 80%;
  height: 600px;
  background-color: #456480;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  z-index: 1;
  display:grid;
  align-items: center;

  .text {
    padding-left: 100px;
    width:600px;
    height:200px;
    display: grid;
    font-size: 25px;
    color: #fff;
  }
}

.new-product-btn {
  margin-top: 20px;
  width: 200px;
  height: 60px;
  background-color: var(--app-lighter-gray);
  color: #f75045;
  border-radius: 10px;
  font-size: 25px;
}

.new-book-display {
  display: grid;
  justify-items: end;
  position: absolute;
  inset: 200px 100px auto auto;
  width: 700px;
  height: 700px;
  z-index: 2;
}

.new-book {
  display: flex;
  width:100%;
  height: 300px;
  background-color: var(--app-lighter-gray);
  border-radius: 20px;
}

.book-img {
  padding:20px;
  width: 30%;
  height: auto;
}

.book-intro {
  padding:20px;
  display:grid;
  width: 70%;
  height: auto;
  align-items: center;

  .new {
    width: 60px;
    height: 30px;
    background-color:#f75045;
    text-align: center;
    line-height: 30px;
    border-radius: 10px;
    color: #fff;
  }

  h3 {
    font-size: 30px;
  }

  h4 {
    font-size: 20px;
    color:#1d86f0;
  }
}

.container {
  width: min(100% - 30px, 1200px);
  margin-inline: auto;
}
/*--------------------------------------------*/
/*Hero banner container                        */
/*--------------------------------------------*/
.hero-banner {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
  background-color: #E5E5E5;
  display: flex; 
  justify-content: center; 
  align-items: center; 
}

.slides {
  margin: auto 0;
  width: 100%;
  height: 70%;
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slide {
  display: flex;
  min-width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.slide-left {
  display: flex;
  flex-direction: column;
  justify-content: center; 
  margin-left: 10%;
  padding: 80px;
  flex: 1; 
  text-align: left;
}

.slide-right {
  flex: 1; 
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-right img {
  max-width: 100%;
  height: 60%;
  margin-right: 25%;
}

.slide h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.slide p {
  margin: 20px 0;
  min-height: 60px;
  width: 70%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.btn {
  width: 25%;
  margin-top: 50px;
  padding: 10px 20px;
  background-color: #31AF36;
  color: #fff;
  font-size: 1rem;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: #026423;
}

.prev, .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.3);
  color: #fff;
  border: none;
  padding: 20px 10px;
  cursor: pointer;
  z-index: 10;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.prev:hover, .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.dots {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #bbb;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #007bff;
}

html {
  font-family: "Poppins", sans-serif;
}
/*--------------------------------------------*/
/*Featured category container                 */
/*--------------------------------------------*/
.featured-category {
  background-color: #fff;
}

.featured-category h1{
  text-align: center;
  padding-top: 20px;
}

.categories {
  max-width: 1200px;
  margin: 0px auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.category {
  width: 200px; 
  height: 280px; 
  position: relative;
  cursor: pointer;
  overflow: hidden; 
  transition: box-shadow 0.6s, z-index 0.6s;
}

.image-container {
  width: 100%;
  height: 200px; 
  overflow: hidden;
  position: relative;
}

.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.6s ease-in-out;
}


.category:hover .image-container img {
  transform: scale(0.7); 
}

.category:hover h2 {
  transform: translateY(-30px); 
}

.category:hover .details {
  transform: translateY(-30px); 
}

.category h1 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.category h2 {
  font-size: 1.2rem;
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
  transition: transform 0.6s ease;
}

.details {
  display: none;
  margin-top: 10px;
  text-align: center;
}

.category:hover .details {
  display: block;
}

.details a {
  display: block;
  color: #050505;
  text-decoration: none;
  margin-top: 0;
  line-height: 1.5;
  font-size: 12px;
}

.details a:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .slide {
    flex-direction: column; 
    align-items: center; 
    text-align: center; 
  }

  .slide-left {
    margin: 0; 
    padding: 20px; 
    width: 90%; 
  }

  .slide-right {
    margin: 20px 0; 
    width: 90%; 
  }

  .slide-right img {
    height: auto; 
    max-width: 100%; 
  }

  .btn {
    width: 70%; 
  }
}
